In [1]:
import pymysql
import pandas as pd
import csv

In [2]:
conn = pymysql.connect(host='localhost',
                            user='root',
                            port=3306,
                            password='password',
                            db='chargingS_dealers')

In [3]:
mycursor = conn.cursor()
try:
    mycursor.execute("CREATE TABLE IF NOT EXISTS chargS_dealers (LICYR VARCHAR(8), LICTYPE VARCHAR(2), LICNO VARCHAR(10), BUSNAME VARCHAR(255),OWNERSHIP VARCHAR(10), LOTADDR VARCHAR(250),LOTCITY VARCHAR(100),LOTSTATE VARCHAR(2),PHONE VARCHAR(15))")
except:
   print("Table already exists!")

C:\Users\fcheb\Anaconda3\lib\site-packages\pymysql\cursors.py:170: Warning: (1050, "Table 'chargs_dealers' already exists")
  result = self._query(query)

In [4]:
#sql = ("INSERT INTO chargS_dealers (number, info) VALUES (%s, %s)", (numbers, animals))
#sql = ("INSERT INTO favourite (number, info) VALUES (%s, %s)", (numbers, animals))
#sql=("INSERT INTO favourite (number, info) VALUES ({},{})".format(numbers,animals))
#https://catalog.data.gov/dataset?q=Car+dealers+&sort=score+desc%2C+name+asc&as_sfid=AAAAAAXrtCIU_9aSkbRq8k89u0zBOUrLppDriGclqvXUbKYVCEjM0uG5e51GYs3WzUylOQnxsFVS5R9DJqzpAnw3CDQQZdra4kC2f_LPcopyNYO2CPz4YKLHbYQl0GLEQj3WFnA%3D&as_fid=7813dc75877c8141820165960bc3bb976e5d7a6d

In [5]:
#hSql = "INSERT INTO chargeS(LICYR,LICTYPE,LICNO,BUSNAME,OWNERSHIP,LOTADDR,LOTCITY,LOTSTATE,PHONE) VALUES,'"
with open('WEBMASTLICENSEQY.csv') as csvDataFile:
    csvReader = csv.reader(csvDataFile)
    
    for row in csvReader:
        #print(row)
        if row[1] != "LICYR":
            if row[1] == 'UD' or row[1] == 'WD':
                
                stringVal = "'"
                stringVal += row[0]
                stringVal += "','" + row[1]+ "',"
                stringVal += "'" + row[2]+ "',"
                stringVal += "'" + row[3].replace("'", "")+ "',"
                stringVal += "'" + row[4]+ "',"
                stringVal += "'" + row[5].replace("'", "")+ "',"
                stringVal += "'" + row[6]+ "',"
                stringVal += "'" + row[7]+ "',"
                stringVal += "'" + row[8]+ "')"
              
                sql = 'INSERT INTO chargs_dealers(LICYR,LICTYPE,LICNO,BUSNAME,OWNERSHIP,LOTADDR,LOTCITY,LOTSTATE,PHONE) VALUES('
                sql = sql + stringVal
                #print(sql)
                try :
                    mycursor.execute(sql)
                    conn.commit()
                except :
                    conn.rollback()
                              #print(mycursor.rowcount, "record inserted.")

INSERT INTO chargs_dealers(LICYR,LICTYPE,LICNO,BUSNAME,OWNERSHIP,LOTADDR,LOTCITY,LOTSTATE,PHONE) VALUES('15','UD','7824','#9  AUTO SALES, LLC','LLC','43514 HIGHWAY 9','TECUMSEH','OK','(405) 598-8876')
INSERT INTO chargs_dealers(LICYR,LICTYPE,LICNO,BUSNAME,OWNERSHIP,LOTADDR,LOTCITY,LOTSTATE,PHONE) VALUES('15','UD','5907','10,000 RPM CLASSICS','S','103 MALLARD ROW','GOLDSBY','OK','(405) 288-2496')
INSERT INTO chargs_dealers(LICYR,LICTYPE,LICNO,BUSNAME,OWNERSHIP,LOTADDR,LOTCITY,LOTSTATE,PHONE) VALUES('15','UD','1247','108 AUTO & TRUCK SALVAGE, INC.','C','4410 N. ROSE ROAD','STILLWATER','OK','(405) 372-0702')